{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to our shop...</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-10">
                <br><br>
                <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed egestas lectus. Ut et purus rutrum, fermentum sem id, iaculis nulla. In maximus ex sit amet purus laoreet, nec iaculis tellus pharetra. Quisque molestie enim sit amet orci ullamcorper viverra. Sed condimentum congue efficitur. Fusce imperdiet neque quis cursus auctor. Aenean sapien ex, euismod quis nibh nec, ultricies luctus libero. Ut elementum justo non tincidunt consectetur. Donec a pulvinar tortor.
                <br><br>
                Praesent tincidunt vitae lectus sit amet condimentum. Nullam commodo felis velit, at hendrerit ligula vehicula eu. Suspendisse at ornare augue. Integer finibus imperdiet sapien vitae interdum. Cras eget dui eget nunc gravida sagittis. Aenean felis sapien, fermentum nec dictum nec, lacinia ut ipsum. Morbi sed turpis quis mi auctor aliquet. Curabitur eget fermentum massa. Suspendisse magna metus, molestie et pharetra eu, consectetur ut turpis. In nibh lorem, ornare quis quam in, cursus viverra felis. Mauris rhoncus scelerisque varius. Fusce euismod eleifend ipsum, et sagittis turpis vulputate aliquam. Maecenas ultrices maximus quam a auctor. Sed non ipsum et ligula sodales dignissim. Phasellus pellentesque volutpat risus ut pretium.
                </p>  
                <br><br>  
            </div>
        </center>
    </div>
</div>

{% endblock %}